{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="height: 100%;">
  <div class="col-md-6 translate-middle-y">
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
      <h2 >Password Change Successfully</h2>
      <p>Your password has been successfully changed.</p>
      <a href="{% url 'users:profile_detail' pk=user.profile.pk %}"
        class="btn btn-outline-secondary">
        Back to Profile
      </a>
    </div>
  </div>
</div>
{% endblock content %}