<!-- Action Panels -->
<div class="action-panel-body d-flex justify-content-center align-items-center gap-2">
  <span class="d-inline-block text-black px-3 cursor-pointer"
    data-bs-toggle="tooltip"
    title="Number of vaults selected"
  >
  </span>
  <button id="select-all-vaults"
    type="button"
    class="border-0 bg-transparent"
    data-bs-toggle="tooltip"
    title="Select all vaults"
  >
    <i class="fa-solid fa-check-double"></i>
  </button>
  <button id="remove-all-vaults"
    data-bs-toggle="tooltip"
    title="Remove all selected vaults"
    type="button"
    class="border-0 bg-transparent"
    >
    <i class="fa-solid fa-trash-can"></i>
  </button>
  <button 
    id="action-panel-close"
    class="close-button bg-transparent" 
  >
    &times;
  </button>
</div>
