{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Entry Update Page{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <p class="fw-medium fs-5 text-center">
      Update Password Entry
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      {{ website_formset|crispy }}
      <div class="d-flex justify-content-center align-items-center gap-3">
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a href="{% url 'vault:password_list' %}"
          class="btn btn-outline-danger"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>


{% endblock %}