<div>
  <p class="h2 mb-4 fw-medium text-center py-2">
    {{ password_entry.title }}
    {% if created %}
      <span class="fs-6 badge rounded-pill bg-success">
        Created
      </span>
    {% endif %}

    {% if updated %}
      <span class="fs-6 badge rounded-pill bg-danger">
        Updated
      </span>
    {% endif %}
  <p>
    
  <p class="mb-2">
    <strong>Priority: </strong>
    {% if password_entry.priority == "low" %}
      <span class="badge rounded-pill bg-secondary">
        {{ password_entry.priority }}
      </span>
    {% elif password_entry.priority == "medium" %}
      <span class="badge rounded-pill bg-dark">
        {{ password_entry.priority }}
      </span>
    {% elif password_entry.priority == "high" %}
      <span class="badge rounded-pill bg-warning">
        {{ password_entry.priority }}
      </span>
    {% elif password_entry.priority == "critical" %}
      <span class="badge rounded-pill bg-danger">
        {{ password_entry.priority }}
      </span>
    {% endif %}
  </p>

  <!--
  <p class="mb-2"><strong>Description</strong></p>
  <p class="ps-3">
    {% if vault.description %}
      {{ vault.description }}
    {% else %}
      The description of {{vault.name}} is currently empty.
    {% endif %}
  </p>
  -->

  <p class="mb-2">
    <strong>Created on:</strong> 
    {{ password_entry.created_at|date:"b j, Y, g:i a" }}
  </p>

  <p class="mb-2">
    <strong>Last update on:</strong>
    {{ password_entry.updated_at|date:"b j, Y, g:i a" }}
  </p>

  <div class="container">
    <div class="row border px-4 py-3 rounded-top-3">
      <div class="col-3">
        <span>Username</span> 
      </div>
      <div class="col d-flex justify-content-between align-items-center">
        <span>{{ password_entry.username }}</span>
        <button type="button"
          class="bg-transparent border-0"
          onclick="copyTextToClipboard({'name': 'username', 'value': '{{ password_entry.username }}' });"
        >
          <i class="fa-regular fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="row border px-4 py-3">
      <div class="col-3">
        <span>Password</span>
      </div>
      <div class="col d-flex justify-content-between align-items-center">
        <span>{{ password_entry.password }}</span>
        <button type="button"
          class="bg-transparent border-0"
          onclick="copyTextToClipboard({'name': 'password', 'value': '{{ password_entry.password }}' });"
        >
          <i class="fa-regular fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="row border px-4 py-3">
      <div class="col-3">
        <span>Email</span>
      </div>
      <div class="col d-flex justify-content-between align-items-center">
        <span>{{ password_entry.email }}</span>
        <button type="button"
        class="bg-transparent border-0"
        onclick="copyTextToClipboard({'name': 'email', 'value': '{{ password_entry.email }}' });"
      >
        <i class="fa-regular fa-copy"></i>
      </button>
      </div>
    </div>
    <div class="row border px-4 py-3 rounded-bottom-3">
      <div class="col-3">
        {% with website_count=password_entry.websites.count %}
          <p>Website{{ website_count|pluralize:'s' }}</p>
        {% endwith %}
      </div>
      <div class="col d-flex flex-column gap-2">
        {% for website in password_entry.websites.all %}
          <span class="d-flex justify-content-start gap-2">
            {{ website.name }}
            <a href="{{ website.url }}"
              target="_blank"
              data-bs-tooltip="Lanch website"
              title="Lanch website"
            >
              <i class="fa-solid fa-rocket"></i>
            </a>
            <button type="button"
              class="bg-transparent border-0"
              onclick="copyTextToClipboard({'name': 'website\'s url', 'value': '{{ website.url }}' });"
            >
              <i class="fa-regular fa-copy"></i>
            </button>
          </span>
        {% endfor %}
      </div>
  </div>
</div>

<div id="password-entry-update" hx-swap-oob="true">
  <a href="{% url 'vault:password_update' pk=password_entry.pk %}"
    class="btn btn-secondary"
    data-bs-tooltop="Edit Password Entry"
    title="Edit Password Entry"
  >
    Edit
  </a>
</div>