{% load static %}
{% load custom_tags %}

{% for password_entry in object_list %}
  {% if not password_entry.is_trashed %}
    <tr
      hx-trigger="click[!event.target.matches('button')&&!event.target.matches('input.row-select')]"
      hx-get="{% url 'vault:password_detail_partial' pk=password_entry.pk %}"
      hx-target="#offcanvasPasswordEntryDetail .offcanvas-body"
      data-password-entry-pk={{ password_entry.pk }}
      aria-controls="offcanvasPasswordEntryDetail"
      class="cursor-pointer"
    >
      <td class="text-center align-middle">
        <input type="checkbox" 
          class="form-check-input row-select content-invisible d-inline-block p-2" 
        />
      </td>
      <td class="align-middle text-center">
        {{ password_entry.title }}
      </td>
      <td class="align-middle">
        <div class="text-center content-invisible">
          {% if password_entry.websites.first %}
            <a href="{{ password_entry.websites.first.url }}" 
              class="btn btn-outline-info" target="_blank"
              data-bs-tooltip="Lanch website"
              title="Lanch website"
            >
              <i class="fa-solid fa-globe"></i>
            </a>
          {% endif %}

          <div class="d-inline-block dropdown">
            <button
              id="actions-on-password-entry"
              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split rounded-3"
              type="button" data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item"
                  onclick="copyTextToClipboard({'name': 'username', 'value': '{{ password_entry.username }}' });"
                >
                  Copy Username
                </button>
              </li>

              <li>
                <button class="dropdown-item"
                  onclick="copyTextToClipboard({'name': 'email', 'value': '{{ password_entry.email }}' });"
                >
                  Copy Email
                </button>
              </li>

              <li>
                <button class="dropdown-item" 
                  onclick="copyTextToClipboard({'name': 'password', 'value': '{{ password_entry.password }}' });"
                >
                  Copy Password
                </button>
              </li>

              <li><hr class="dropdown-divider"></li>

              <li>
                <a href="{% url 'vault:password_update' pk=password_entry.pk %}"
                  class="dropdown-item"
                  data-bs-tooltop="Edit Password Entry"
                  title="Edit Password Entry"
                >
                  Edit
                </a>
              </li>

              <li>
                <button
                  class="dropdown-item move-to-trash"
                  type="button"
                  hx-get="{% url 'vault:password_move_to_trash' pk=password_entry.pk %}"
                  hx-trigger="click delay:1s"
                  hx-swap="delete"
                  hx-target="closest tr"
                >
                  Move to Trash
                </button>
              </li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
  {% endif %}
{% empty %}
  <tr>
    <td colspan="3" class="text-center">
      No stored passwords available.
    </td>
{% endfor %}

<div id="btn-group-to-order-password-entry-list"
    class="btn-group"
    hx-swap-oob="true"
  >
    <button id="order-password-entry-list"
      type="button" 
      class="btn btn-outline-secondary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Order by
    </button>
    <ul id="order-password-entry-list-dropdown-menu"
      class="dropdown-menu"
      aria-labelledby="order-password-entry-list"
    >
      <li>
        <a class="dropdown-item"
          hx-get="{% page_urlencode page=page_obj.number order_by='title' order='asc' %}"
          hx-trigger="click"
          hx-target="table#password-entry-list tbody"
          hx-swap="innerHTML"
          hx-indicator="#spinner"
        >
          Title <i class="fas fa-sort-alpha-down"></i>
        </a>
      </li>
      <li>
        <a class="dropdown-item"
          hx-get="{% page_urlencode page=page_obj.number order_by='title' order='desc' %}"
          hx-trigger="click"
          hx-target="table#password-entry-list tbody"
          hx-swap="innerHTML"
          hx-indicator="#spinner"
        >
          Title <i class="fas fa-sort-alpha-up"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="action-panel" 
  class="action-panel d-none rounded-3"
  hx-swap-oob="true"
>
  {% include 'vault/action_panel.html' %}
</div>

<script type="text/javascript">
  const MAX_VAULT_COUNT = {{ object_list|length }};
  document.querySelectorAll('button.move-to-trash').forEach((moveToTrashBtn) => {
    moveToTrashBtn.addEventListener('htmx:afterRequest', (evt) => {
      ToastNotification.display(evt, title="Move to Trash");
    });
  });

  document.getElementById('remove-all-vaults').addEventListener('click', (evt) => {
    const pks = [];
    const rowsNeedToRemove = [];
    document.querySelectorAll('table tbody tr').forEach((row) => {
      if (row.querySelector('td input').checked) {
        pks.push(row.getAttribute('data-password-entry-pk'));
        rowsNeedToRemove.push(row);
      }
    });

    htmx.ajax('POST', "{% url 'vault:password_move_to_trash_nultiple' %}", {
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
      },
      values: {
        'pks': pks,
      },
      handler: (response, info) => {
        const jsonResponse = info.xhr.response;
        try {
          const data = JSON.parse(jsonResponse);
          if (data.success) {
            Toast.fire({
              'icon': 'success',
              'title': 'Move to Trash',
              'text': data.message,
            });
            rowsNeedToRemove.forEach((row) => {
              row.remove();
            });
          } else {
            Toast.fire({
              'icon': 'error',
              'title': 'Move to Trash',
              'text': data.message,
            });
          }
        } catch (err) {
          Toast.fire({
            'icon': 'error',
            'title': 'System Error',
            'text': 'The system cannot move the list to trash.'
          });
        }
      },
      swap: "none",
    });
  });
</script>

<script src="{% static 'js/vault/panel.js' %}"></script>