{% extends '_base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Password Entry List Page{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
  <a href="{% url 'vault:password_list' %}" aria-current="page">Passwords</a>
</li>
{% endblock %}

{% block content %}

<div class="mb-2 d-flex justify-content-between align-items-center">
  <p class="fw-medium fs-6">All Entries</p>
  <a href="{% url 'vault:password_create' %}" class="btn btn-outline-primary">Add Entry</a>
</div>

<div class="mb-3 d-flex justify-content-between align-items-center">
  <div class="btn-group gap-2" role="group" aria-label="Group of action buttons on password list">
    <div id="btn-group-to-order-password-entry-list"
      class="btn-group"
    >
      <button type="button" 
      class="btn btn-outline-secondary dropdown-toggle"
      data-bs-toggle="dropdown">
        Order by
      </button>
      <ul class="dropdown-menu"></ul>
    </div>

    <form
      class="d-flex"
      hx-get="{% url 'vault:password_list_rows' %}"
      hx-target="table#password-entry-list tbody"
      hx-swap="innerHTML"
      hx-indicator="#spinner"
    >
      <div class="input-group position-relative">
        <input
          hx-get="{% url 'vault:password_list_rows' %}"
          hx-target="table#password-entry-list tbody"
          hx-swap="innerHTML"
          hx-indicator="#spinner"
          id="search-password-entry-input"
          role="search-input"
          type="text"
          name="q"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-password-entry"
        >
        <button id="search-clear" class="border-0 bg-transparent position-absolute text-secondary top-50 end-0 translate-middle z-3">
          <i class="fa-regular fa-circle-xmark"></i>
        </button>
      </div>
      <button id="search-password-entry" 
        class="btn btn-outline-primary"
        type="submit"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <div class="d-flex justify-content-start align-items-center">
    <span class="fw-medium me-2">
      Processing Status:
    </span>
    <img
      id="spinner"
      class="htmx-indicator"
      src="{% static 'images/triangles-loading-indicator.gif' %}"
      alt="Loading..."
    />
  </div>
</div>

<div class="scrollable-wrapper">
<table 
  id="password-entry-list"
  hx-trigger="load"
  hx-get="{% url 'vault:password_list_rows' %}"
  hx-target="find tbody"
  hx-swap="innerHTML"
  hx-indicator="#spinner"
  class="table table-responsive-md table-hover"
>
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">
        <input type="checkbox" id="select-all"
        class="form-check-input content-invisible d-inline-block p-2" />
      </th>
      <th class="text-center">Title</th>
      <th class="text-center">Actions</th>
    </tr>
    <tbody>
      <!-- Password Entry rows will be received from htmx. -->
    </tbody>
  </thead>
</table>

<!-- The action dialog appears when one or more password entries are selected. -->
<div id="action-panel">
</div>

<div id="offcanvasPasswordEntryDetail"
  class="offcanvas offcanvas-end w-50" tabindex="-1"
  aria-labelledby="offcanvasPasswordEntryDetailLabel">
  <div class="offcanvas-header">
    <div id="password-entry-update">
      <a href="#"
        id="offcanvasPasswordEntryDetailLabel"
        class="btn btn-secondary offcanvas-title"
      >
        Edit
      </a>
    </div>
    <button type="button"
      class="btn btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close">
    </button>
  </div>
  <div class="offcanvas-body">
    <!-- Password Entry Detail will be loaded here by htmx -->
  </div>
</div>

{% endblock content %}

{% block exclusive_js %}
  {% if show_recent_updated %}
    const recent_modified_password_entry_url = "{{recent_modified_password_entry_url}}";
    htmx.ajax('GET', recent_modified_password_entry_url, {
      target: '#offcanvasPasswordEntryDetail .offcanvas-body',
      swap: 'innerHTML'
    }).then(() => {
      document.getElementById('spinner').style.display = 'none';
      const offcanvasPasswordEntryDetailElement = document.getElementById('offcanvasPasswordEntryDetail');
      const offcanvas = new bootstrap.Offcanvas(offcanvasPasswordEntryDetailElement);
      offcanvas.show();
  
      {% if created %}
        Toast.fire({
          icon: "success",
          title: "Vault Created Successfully",
          text: "You have successfully created the vault.",
        });
      {% endif %}
  
      {% if updated %}
        Toast.fire({
          icon: "success",
          title: "Vault Updated Successfully",
          text: "You have successfully updated the vault.",
        });
      {% endif %}
  
      setTimeout(() => {
        offcanvas.hide();
        const offcanvasBackdrop = document.querySelector('.offcanvas-backdrop');
        if (offcanvasBackdrop) {
          offcanvasBackdrop.remove();
        }
      }, 1000);
    });
  {% endif %}

/* Refresh vault search results when clear search input value using Ctrl+Delete. */
document.querySelector('input[role="search-input').addEventListener('keydown', function (evt) {
  if (evt.ctrlKey && evt.key === 'Delete') { // Ctrl+Delete
    evt.preventDefault();
    this.setAttribute('hx-trigger', 'true')
    htmx.trigger(this, 'htmx:trigger');
  } else if (evt.keyCode === 13 || evt.key === 'Enter') {
    evt.preventDefault();
    this.setAttribute('hx-trigger', 'true');
    htmx.trigger(this, 'htmx:trigger');
  }
});

{% endblock %}