{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Pasword History List Page{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
  <p class="fw-medium fs-5">Password History</p>
  <a href="{% url 'vault:password_detail' pk=password_entry_id %}" 
    class="btn btn-outline-primary">
    Details
  </a>
</div>

<div class="mb-2 d-flex align-items-center gap-2">
  <span class="fw-medium fs=5">Actions</span>
  <a href="{% url 'vault:password_history_reuse_most_recent_old' pk=password_entry_id %}"
    class="btn btn-outline-primary">
    Reuse most recent password
  </a>
</div>

<table class="table table-sm">
  <caption>Password History List</caption>
  <thead>
    <tr>
      <th scope="col">
        <input type="checkbox" id="select-all"/>
      </th>
      <th scope="col" class="text-center">
        Creation Date
      </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for password_entry in page_obj %}
      <tr>
        <td><input type="checkbox" class="row-select"></td>
        <td class="text-center">
          {{ password_entry.created_at }}
          {% if password_entry.is_current %}
            <sup class="text-success">Current</sup>
          {% endif %}
        </td>
        <td>
          <div class="d-flex align-items-center gap-2">
            <button class="input-group-text"
              id="copyPasswordButton"
              onclick="copyToClipboard(this)"
              data-field-name="password"
              data-field-value="{{ password_entry.password }}">
              <i class="fa-regular fa-clipboard"></i>
            </button>
            <a href="{% url 'vault:password_history_detail' pk=password_entry.pk %}"
              class="btn btn-outline-primary">
              View Detail
            </a>
            <a href="{% url 'vault:password_history_set_password' pk=password_entry.pk %}"
              class="btn btn-outline-secondary">
              Set Password
            </a>
            <a href="{% url 'vault:password_history_delete' pk=password_entry.pk %}"
              class="btn btn-outline-warning">
              Delete
            </a>
          </div>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="2" class="text-center">Password change history is currently empty.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Password Entry page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page=1" class="page-link">&laquo; first</a>
      </li>
      <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
      </li>
    {% endif %}

    <li class="page-item active" aria-current="page">
      <a class="page-link">
        Page of {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </a>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
      </li>
      <li class="page-item">
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}

{% block exclusive_js %}



{% endblock %}