{% extends '_base.html' %}

{% block title %}Password Entry Detail Page{% endblock %}

{% block content %}

<div class="d-flex align-items-center gap-2">
  <p class="mb-3 text-center fw-medium fs-5">Password Entry Detail</p>
  <a href="{% url 'vault:password_update' pk=password_entry.pk %}" 
    class="ms-auto btn btn-info">
    Edit
  </a>
  <form method="post"
    action="{% url 'vault:password_move_to_trash' pk=password_entry.pk %}"
    style="display:inline;">
    {% csrf_token %}
    <button class="btn btn-outline-primary">Move to Trash</button>
  </form>
  <a href="{% url 'vault:password_history_list' pk=password_entry.pk %}"
    class="btn btn-outline-dark">
    Password History
  </a>
</div>

{% if password_entry.vault %}
  <p class="fw-medium fs-5">
    <strong>Vault:</strong>
    <a href="{% url 'vault:vault_detail' pk=password_entry.vault.pk %}"
      class="link-info text-decoration-none"
    >
      {{ password_entry.vault.name }}
    </a>
  <p>
{% else %}
  <p class="fw-medium">Password entry does not belong to any vault.<br>You can add a password to the vault using the edit button below.</p>
{% endif %}

<p class="mb-3 text-left fw-medium fs-5">Websites</p>

<ul>
  {% for website in password_entry.website_set.all %}
    <li><a href="{{ website.url }}" target="_blank" class="link-info text-decoration-none">{{ website.name }}</a></li>
  {% empty %}
    <li>Password entry has no website associated.</li>
  {% endfor %}
</ul>

<p><strong>Login Details</strong></p>

<div class="input-group mb-2">
  <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
  <input type="text" class="form-control" aria-label="Sizing username input" aria-describedby="inputGroup-sizing-default" value="{{ password_entry.username }}">
  <button class="input-group-text"
    id="copyUsernameButton"
    onclick="copyToClipboard(this)"
    data-field-name="username"
    data-field-value="{{ password_entry.username }}">
    <i class="fa-regular fa-clipboard"></i>
  </button>
</div>

<div class="input-group mb-2">
  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  <input type="text" class="form-control" aria-label="Sizing email input" aria-describedby="inputGroup-sizing-default" value="{{ password_entry.email }}">
  <button class="input-group-text"
    id="copyEmailButton"
    onclick="copyToClipboard(this)"
    data-field-name="email"
    data-field-value="{{ password_entry.email }}">
    <i class="fa-regular fa-clipboard"></i>
  </button>
</div>

<div class="input-group mb-2">
  <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
  <input type="password" id="passwordField" class="form-control" aria-label="Sizing password input" aria-describedby="inputGroup-sizing-default" value="{{ password_entry.password }}">
  <span class="input-group-text" id="togglePassword" style="cursor: pointer;">
    <i class="fa-regular fa-eye-slash" id="toggleIcon"></i>
  </span>
  <button class="input-group-text"
    id="copyPasswordButton"
    onclick="copyToClipboard(this)"
    data-field-name="password"
    data-field-value="{{ password_entry.password }}">
    <i class="fa-regular fa-clipboard"></i>
  </button>
</div>

{% endblock %}

{% block exclusive_js %}

const throttleFunction = (func, delay) => {
  let prev = 0;
  return (...args) => {
    let now = new Date().getTime();
    if (now - prev > delay) {
      prev = now;
      return func(...args);
    }
  }
};

document.getElementById('togglePassword').addEventListener('click',
  throttleFunction((event) => {
    var passwordField = document.querySelector('input[id="passwordField"');
    var toggleIcon = document.querySelector('i[id="toggleIcon"');

    if (passwordField.type === 'password') {
      passwordField.type = 'text'
      toggleIcon.classList.remove('fa-eye-slash');
      toggleIcon.classList.add('fa-eye');
    } else {
      passwordField.type = 'password'
      toggleIcon.classList.remove('fa-eye');
      toggleIcon.classList.add('fa-eye-slash');
    }
  }, 500)
);

{% endblock %}
