{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password History Detail Page{% endblock %}

{% block content %}

<div class="mb-2 d-flex justify-content-between align-items-center">
  <span class="fw-medium fs-5">Password History Detail</span>
  <a href="{% url 'vault:password_history_list' pk=object.password_entry.pk %}"
    class="btn btn-outline-secondary">
    Back
  </a>
</div>

<p><strong>Title:</strong> {{ object.password_entry.title }}</p>

{% if object.is_current %}
  <span class="text-success">Current Password</span>
{% endif %}

<p><strong>Creation Time:</strong> {{ object.created_at|date:"Y-m-d" }}  {{ object.created_at|time:"H:i" }}</p>
<p><strong>Password:</strong> {{ object.password }}</p>

{% endblock %}

{% block exclusive_js %}



{% endblock %}