{% load static %}

{% for password_entry in object_list %}
<tr>
  <td class="text-center">{{ password_entry.title }}</td>
  <td class="d-flex justify-content-center align-items-center gap-2">
    <button
      class="restore-password-entry btn btn-outline-secondary"
      hx-get="{% url 'vault:restore_password_entry' pk=password_entry.pk %}"
      hx-trigger="click consume delay:1s"
      hx-target="closest tr"
      hx-swap="delete swap:1s"
      data-bs-toggle="tooltip"
      data-bs-title="Restore password"
      type="button"
    >
      <i class="fa-solid fa-trash-can-arrow-up"></i>
    </button>
    <button
      class="delete-password-entry btn btn-danger"
      hx-delete="{% url 'vault:password_delete' pk=password_entry.pk %}"
      hx-trigger="click consume delay:1s"
      hx-target="closest tr"
      hx-swap="delete"
      type="button"
      data-bs-toggle="tooltip"
      data-bs-title="Delete password permanently"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
</td>
{% empty %}
  <tr>
    <td colspan="2" class="text-center">
      No trashed entries found.
    </td>
  </tr>
{% endfor %}

<script src="{% static 'js/vault/table.js' %}" type="text/javascript"></script>