{% load static %}
{% load custom_tags %}

{% for vault in object_list %}
  <tr
    hx-get="{% url 'vault:vault_detail_partial' pk=vault.pk %}"
    hx-trigger="click"
    hx-target="#offcanvasVaultDetail .offcanvas-body"
    data-vault-pk={{ vault.pk }}
    data-bs-target="#offcanvasVaultDetail"
    aria-controls="offcanvasVaultDetail"
    class="cursor-pointer"
  >
    <td class="text-center align-middle">
      <input type="checkbox" class="form-check-input row-select content-invisible d-inline-block p-2" />
    </td>
    <td class="text-center align-middle">
      <span class="position-relative">
        <span>{{ vault.name }}</span>
        {% if vault.password_entries.count > 0 %}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ vault.password_entries.count }}
            <span class="visually-hidden">Password entry count</span>
          </span>
        {% endif %}
      </span>
    </td>
    <td class="align-middle">
      <div class="text-center content-invisible">
        <a href="{% url 'vault:vault_update' pk=vault.pk %}"
          class="btn btn-outline-info"
        >
          <i class="fa-regular fa-pen-to-square me-1"></i>
        </a>
        <button
          hx-trigger="click consume"
          hx-delete="{% url 'vault:vault_delete' pk=vault.pk %}"
          hx-target="closest tr"
          hx-swap="delete swap:1s"
          class="delete-vault btn btn-outline-warning"
        >
          <i class="fa-solid fa-trash me-1"></i>
        </button>
      </div>
    </td>
  </tr>
{% empty %}
  <tr>
    <th colspan="3" class="text-center">No vaults found.</th>
  </tr>
{% endfor %}

<div id="btn-group-to-order-vault-list" 
  class="dropdown"
  hx-swap-oob="true"
>
  <button
    id="order-vault-list"
    class="btn btn-outline-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Order by
  </button>
  <ul
    id="order-vault-list-dropdown-menu"
    class="dropdown-menu"
    aria-labelledby="order-vault-list"
  >
    <li>
      <a class="dropdown-item"
        hx-get="{% page_urlencode order_by='name' order='asc' %}"
        hx-trigger="click"
        hx-target="#vault-list-table tbody"
        hx-swap="innerHTML"
      >
        Name <i class="fas fa-sort-alpha-down"></i>
      </a>
    </li>
    <li>
      <button class="dropdown-item"
        hx-get="{% page_urlencode order_by='name' order='desc' %}"
        hx-trigger="click"
        hx-target="#vault-list-table tbody"
        hx-swap="innerHTML"
      >
        Name <i class="fas fa-sort-alpha-up"></i>
      </button>
    </li>
    <li>
      <button class="dropdown-item"
        hx-get="{% page_urlencode order_by='created_at' order='desc' %}"
        hx-trigger="click"
        hx-target="#vault-list-table tbody"
        hx-swap="innerHTML"
      >
        Latest creation 
      </button>
    </li>
    <li>
      <button class="dropdown-item"
        hx-get="{% page_urlencode order_by='updated_at' order='desc' %}"
        hx-trigger="click"
        hx-target="#vault-list-table tbody"
        hx-swap="innerHTML"
      >
        Recent update
      </button>
    </li>
    <li>
      <button class="dropdown-item"
        hx-trigger="click"
        hx-get="{% page_urlencode order_by='password_entries' order='desc' %}"
        hx-get="{% url 'vault:vault_list_rows' %}?page={{ page_obj.number }}&order_by=password_entries&order=desc"
        hx-target="#vault-list-table tbody"
        hx-swap="innerHTML"
      >
        Password Stored
        <i class="fa-regular fa-star"></i>
      </button>
  </ul>
</div>

<div id="sort-by-name-group" 
  class="d-inline-block"
  hx-swap-oob="true"
>
  <span
    id="sort-by-name"
    x-data="orderByName"
    class="ms-1"
  >
    <i
      class="fa-solid fa-caret-down"
      x-on:click="toggleOrder"
      :class="order === 'asc' ? 'rotate-down' : 'rotate-up'"
    ></i>
  </span>
</div>

<div id="action-panel" 
  class="action-panel d-none rounded-3"
  hx-swap-oob="true"
>
  {% include 'vault/action_panel.html' %}
</div>

<script type="text/javascript">
  const MAX_VAULT_COUNT = {{ object_list|length }};
  document.getElementById('remove-all-vaults').addEventListener('click', (evt) => {
    Swal.fire({
      title: 'Are you sure?',
      text: 'You must be certain you want to do this. Once deleted, those cannot be restored.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Delete all!',
      cancelButtonText: 'Cancel',
    }).then((result) => {
      if (result.isConfirmed) {
        const allVaultRows = document.querySelectorAll("tr[hx-get]:not([hx-get=''])");
        const vaultPks = [];
        const selectedVaultRows = [];
        allVaultRows.forEach((vaultRow) => {
          if (vaultRow.querySelector('td input').checked) {
            selectedVaultRows.push(vaultRow);
            vaultPks.push(vaultRow.getAttribute("data-vault-pk"));
          }
        });
  
        htmx.ajax('POST', "{% url 'vault:vault_delete_multiple' %}", {
          headers: {
            'X-CSRFToken': '{{ csrf_token }}',
          },
          values: {
            'pks': vaultPks,
          },
          handler: (response, info) => {
            const jsonResponse = info.xhr.response;
            try {
              const data = JSON.parse(jsonResponse);
              if (data.success) {
                Toast.fire({
                  icon: "success",
                  title: "Selected Vaults Deletion",
                  text: data.message,
                });
                selectedVaultRows.forEach((vaultRow) => {
                  vaultRow.remove();
                });
              } else {
                Toast.fire({
                  icon: "error",
                  title: "Selected Vaults Deletion",
                  text: data.message,
                });
              }
            } catch (err) {
              Toast.fire({
                icon: "error",
                title: "Selected Vaults Deletion",
                text: data.message,
              });
            }
          },
          swap: "none",
        });
      }
    })
  });
</script>

<script src="{% static 'js/vault/panel.js' %}"></script>
<script src="{% static 'js/vault/table.js' %}"></script>